<link rel="stylesheet" type="text/css" href="css/apartados.css">
<div class="sidenav-container">
    <div class="container white contenido">
        <div class="row">
            <div class="col s12">
                <table class="responsive-table">
                    <thead>
                        <tr>
                            <th>Integrantes del Equipo</th>
                            <th>Título</th>
                            <th>Aspectos Relevantes del Trabajo</th>
                            <th>Dedicación Horas Semestre</th>
                            <th>Evaluación Estudiante</th>
                            <th>Evaluación Jefe</th>
                            <th ng-if="asesoriasVm.permiso.crear == true">
                                <a class="waves-effect waves-light btn p-btn-new green" ng-click="asesoriasVm.vaciarMadal()" data-target='modalAsesorias'
                                    modal>Nuevo</a>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="ap in asesoriasVm.asesoriasProyectos">
                            <td>{{ap.integrantes}}</td>
                            <td>{{ap.titulo}}</td>
                            <td>{{ap.aspectos}}</td>
                            <td>{{ap.horas_semestrales}}</td>
                            <td>{{ap.estudiante}}</td>
                            <td>{{ap.jefe}}</td>
                            <td ng-if="asesoriasVm.permiso.modificar == true || asesoriasVm.permiso.eliminar == true">
                                <a ng-if="asesoriasVm.permiso.modificar == true" class="waves-effect waves-light btn p-btn blue" ng-click="asesoriasVm.llenarModal(ap)"
                                    data-target='modalAsesorias' modal>
                                    <i class="material-icons">edit</i>
                                </a>
                                <a ng-if="asesoriasVm.permiso.eliminar == true" class="waves-effect waves-light btn p-btn red" ng-click="asesoriasVm.deleteAsesoriasProyectos(ap)">
                                    <i class="material-icons">delete</i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="form-group" ng-if="menuPrincipalVm.permisoConsertacion.ver == true">
            <div class="fixed-action-btn add_observaciones">
                <a class="btn-floating btn-large waves-effect waves-light blue modal-trigger btn" data-target='modalObservaciones' modal>
                    <i class="material-icons">message</i>
                </a>
            </div>
        </div>
    </div>

    <div id="modalAsesorias" class="modal">
        <div class="modal-content">
            <h5 class="center">
                <strong>Asesorías en Proyectos</strong>
            </h5>
            <div class="row">
                <form name="aAsesoriasForm" autocomplete="off" ng-submit="asesoriasVm.accion()">
                    <div class="input-field col l12 s12 cajasombra">
                        <input name="integrantes" type="text" class="form-control validate" ng-model="asesoriasVm.formAsesoriasProyectos.integrantes"
                            placeholder="Integrntes del Equipo" required/>
                    </div>
                    <div class="input-field col l6 s6 cajasombra">
                        <input name="titulo" type="text" class="form-control validate" ng-model="asesoriasVm.formAsesoriasProyectos.titulo" placeholder="Título"
                            required/>
                    </div>
                    <div class="input-field col l6 s6 cajasombra">
                        <input name="aspectos" type="text" class="form-control validate" ng-model="asesoriasVm.formAsesoriasProyectos.aspectos" placeholder="Aspectos Reelevantes"
                            required/>
                    </div>
                    <div class="input-field col l4 s4 cajasombra">
                        <input name="horas_semestrales" type="number" class="form-control validate" min="1" max="900" ng-model="asesoriasVm.formAsesoriasProyectos.horas_semestrales"
                            placeholder="Horas Semestrales" required/>
                    </div>
                    <div class="input-field col l4 s4 cajasombra hscss">
                        <input name="estudiante" type="number" class="form-control validate" min="1" max="5" ng-model="asesoriasVm.formAsesoriasProyectos.estudiante"
                            placeholder="Eval. Estudiante" />
                    </div>
                    <div class="input-field col l4 s4 cajasombra">
                        <input name="jefe" type="number" class="form-control validate" min="1" max="5" ng-model="asesoriasVm.formAsesoriasProyectos.jefe"
                            placeholder="Eval. Jefe" />
                    </div>
                    <div class="input-field col l12 s12 center ">
                        <button ng-disabled="aAsesoriasForm.$invalid" type="submit" class="waves-effect btn modal-close">Guardar</button>
                    </div>
                </form>
            </div>
        </div>

        <div class="modal-footer">
            <button class="modal-action modal-close waves-effect waves-red btn-flat">Cerrar</button>
        </div>
    </div>
</div>