<link rel="stylesheet" type="text/css" href="css/apartados.css">
<div class="sidenav-container">
    <div class="container white contenido">
        <div class="row">
            <div class="col s12">
                <table class="responsive-table">
                    <thead>
                        <tr>
                            <th>Nombre del Semillero y/o Grupo</th>
                            <th>Tipo de vínculo</th>
                            <th>Actividad desarrollada</th>
                            <th>Productos para cada actividad</th>
                            <th>Horas Semanales</th>
                            <th>Horas Semestre</th>
                            <th>Vo. Bo. Coord. Investigación</th>
                            <th ng-if="investigacionesSVm.permiso.crear == true">
                                <a class="waves-effect waves-light btn p-btn-new green" ng-click="investigacionesSVm.vaciarMadal()" data-target='modalInvestigacionesS'
                                    modal>Nuevo</a>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="is in investigacionesSVm.investigacionesSemilleros">
                            <td>{{is.nombre_semillero}}</td>
                            <td>{{is.tblVinculoId}}</td>
                            <td>{{is.actividad_desarrollada}}</td>
                            <td>{{is.producto}}</td>
                            <td>{{is.horas_semanales}}</td>
                            <td>{{is.horas_semestrales}}</td>
                            <td>
                                <input type="checkbox" ng-checked="{{is.aprobado}}" disabled/>
                            </td>
                            <td ng-if="investigacionesSVm.permiso.modificar == true || investigacionesSVm.permiso.eliminar == true">
                                <a ng-if="investigacionesSVm.permiso.modificar == true" class="waves-effect waves-light btn p-btn blue" ng-click="investigacionesSVm.llenarModal(is)"
                                    data-target='modalInvestigacionesS' modal>
                                    <i class="material-icons">edit</i>
                                </a>
                                <a ng-if="investigacionesSVm.permiso.eliminar == true" class="waves-effect waves-light btn p-btn red" ng-click="investigacionesSVm.deleteInvestigacionesSemilleros(is)">
                                    <i class="material-icons">delete</i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="form-group" ng-if="menuPrincipalVm.permisoConsertacion.ver == true">
            <div class="fixed-action-btn add_observaciones">
                <a class="btn-floating btn-large waves-effect waves-light blue modal-trigger btn" data-target='modalObservaciones' modal>
                    <i class="material-icons">message</i>
                </a>
            </div>
        </div>
    </div>

    <div id="modalInvestigacionesS" class="modal">
        <div class="modal-content">
            <h5 class="center">
                <strong>Semilleros de Investigación</strong>
            </h5>
            <div class="row">
                <form name="aInvestigacionesForm" autocomplete="off" ng-submit="investigacionesSVm.accion()">
                    <div class="input-field col l12 s12 cajasombra">
                        <input name="nombre_semillero" type="text" class="form-control validate" ng-model="investigacionesSVm.formInvestigacionesSemilleros.nombre_semillero"
                            placeholder="Nombre Semillero" required/>
                    </div>
                    <div class="input-field col l12 s12 cajasombra">
                        <select id="tblVinculoId" name="tblVinculoId" ng-model="investigacionesSVm.formInvestigacionesSemilleros.tblVinculoId" material-select
                            watch required>
                            <option value="0" disabled>Tipo de Vínculo</option>
                            <option ng-repeat="nv in investigacionesSVm.vinculos">{{nv.vinculo}}</option>
                        </select>
                    </div>
                    <div class="input-field col l12 s12 cajasombra">
                        <input name="actividad_desarrollada" type="text" class="form-control validate" ng-model="investigacionesSVm.formInvestigacionesSemilleros.actividad_desarrollada"
                            placeholder="Actividad Desarrollada" required/>
                    </div>
                    <div class="input-field col l12 s12 cajasombra">
                        <input name="producto" type="text" class="form-control validate" ng-model="investigacionesSVm.formInvestigacionesSemilleros.producto"
                            placeholder="Productos por actividad" required/>
                    </div>
                    <div class="input-field col l5 s5 cajasombra">
                        <input name="horas_semanales" type="number" class="form-control validate" ng-model="investigacionesSVm.formInvestigacionesSemilleros.horas_semanales"
                            placeholder="Horas Semanales" ng-change="investigacionesSVm.asignarData(investigacionesSVm.formInvestigacionesSemilleros.horas_semanales)"
                            required/>
                    </div>
                    <div class="input-field col l5 s5 cajasombra">
                        <input name="horas_semestrales" type="number" class="form-control" ng-model="investigacionesSVm.formInvestigacionesSemilleros.horas_semestrales"
                            placeholder="Horas Semestrales" readonly/>
                    </div>
                    <div class="input-field col l2 s2 cajasombra">
                        <input name="aprobado" type="checkbox" class="form-control validate" ng-model="investigacionesSVm.formInvestigacionesSemilleros.aprobado"
                            placeholder="Aprobado" />
                    </div>
                    <div class="input-field col l12 s12 center ">
                        <button ng-disabled="aInvestigacionesForm.$invalid || investigacionesSVm.formInvestigacionesSemilleros.tblVinculoId == 0"
                            type="submit" class="waves-effect btn modal-close">Guardar</button>
                    </div>
                </form>
            </div>
        </div>

        <div class="modal-footer">
            <button class="modal-action modal-close waves-effect waves-red btn-flat">Cerrar</button>
        </div>
    </div>
</div>