<link rel="stylesheet" type="text/css" href="css/apartados.css">
<div class="sidenav-container">
    <div class="container white contenido">
        <div class="row">
            <div class="col s12">
                <table class="responsive-table">
                    <thead>
                        <tr>
                            <th>Actividad</th>
                            <th>Dedicación Horas Semanales</th>
                            <th>Dedicación Horas Semestre</th>
                            <th>Descripción y Productos</th>
                            <th ng-if="otrasActividadesVm.permiso.crear == true">
                                <a ng-if="otrasActividadesVm.horasConexas > 0" class="waves-effect waves-light btn p-btn-new green" ng-click="otrasActividadesVm.vaciarMadal(true)"
                                    data-target='modalOActividades' modal>Conexas</a>
                                <a class="waves-effect waves-light btn p-btn-new green" ng-click="otrasActividadesVm.vaciarMadal(false)" data-target='modalOActividades'
                                    modal>Nuevo</a>
                            </th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr ng-repeat="oa in otrasActividadesVm.otrasActividades">
                            <td>{{oa.nombre_actividad}}</td>
                            <td>{{oa.horas_semanales}}</td>
                            <td>{{oa.horas_semestrales}}</td>
                            <td>{{oa.descripcion_productos}}</td>
                            <td ng-if="otrasActividadesVm.permiso.modificar == true || otrasActividadesVm.permiso.eliminar == true">
                                <a ng-if="otrasActividadesVm.permiso.modificar == true" class="waves-effect waves-light btn p-btn blue" ng-click="otrasActividadesVm.llenarModal(oa)"
                                    data-target='modalOActividades' modal>
                                    <i class="material-icons">edit</i>
                                </a>
                                <a ng-if="otrasActividadesVm.permiso.eliminar == true" class="waves-effect waves-light btn p-btn red" ng-click="otrasActividadesVm.deleteOtrasActividades(oa)">
                                    <i class="material-icons">delete</i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <br>
    <!-- resumen general -->
    <div class="container white contenido">
        <div class="row">
            <div class="col s12">
                <table class="responsive-table">
                    <thead>
                        <tr>
                            <th>*Resumen</th>
                            <th>*Dedicación Horas Semanales</th>
                            <th>*Dedicación Horas Semestre</th>
                            <th>Observaciones</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td> Total horas de trabajo en el semestre</td>
                            <td> {{otrasActividadesVm.resumenGeneral.horas_semanales_tot}} </td>
                            <td> {{otrasActividadesVm.resumenGeneral.horas_semestrales_tot}}</td>
                            <td ng-if="otrasActividadesVm.permiso.modificar == true">
                                <input name="observaciones" type="text" ng-model="otrasActividadesVm.resumenGeneral.observaciones" class="form-control validate"
                                />
                            </td>
                            <td ng-if="otrasActividadesVm.permiso.modificar == false">
                                <input name="observaciones" type="text" ng-model="otrasActividadesVm.resumenGeneral.observaciones" class="form-control no-disabled"
                                    disabled />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div ng-if="otrasActividadesVm.permiso.modificar == true" class="row center">
            <button type="submit" ng-click="otrasActividadesVm.saveObservaciones()" class="waves-effect waves-light btn">Guardar Observación</button>
        </div>

        <div class="form-group" ng-if="menuPrincipalVm.permisoConsertacion.ver == true">
            <div class="fixed-action-btn add_observaciones">
                <a class="btn-floating btn-large waves-effect waves-light blue modal-trigger btn" data-target='modalObservaciones' modal>
                    <i class="material-icons">message</i>
                </a>
            </div>
        </div>
    </div>

    <div id="modalOActividades" class="modal">
        <div class="modal-content">
            <h5 class="center">
                <strong>Otras Actividades Académicas</strong>
            </h5>
            <div class="row">
                <form name="aOtrasActividadesForm" autocomplete="off" ng-submit="otrasActividadesVm.accion()">
                    <div class="input-field col l12 s12 cajasombra">
                        <input name="nombre_actividad" type="text" class="form-control validate" ng-model="otrasActividadesVm.formOtrasActividades.nombre_actividad"
                            placeholder="Nombre de la Actividad" required/>
                    </div>
                    <div class="input-field col l6 s6 cajasombra">
                        <input name="horas_semanales" type="number" step="any" class="form-control validate" ng-model="otrasActividadesVm.formOtrasActividades.horas_semanales"
                            ng-change="otrasActividadesVm.asignarData(otrasActividadesVm.formOtrasActividades.horas_semanales)"
                            placeholder="Horas Semanales" required/>
                    </div>
                    <div class="input-field col l6 s6 cajasombra">
                        <input name="horas_semestrales" type="number" class="form-control" ng-model="otrasActividadesVm.formOtrasActividades.horas_semestrales"
                            placeholder="Horas Semestrales" readonly/>
                    </div>
                    <div class="input-field col l12 s12 cajasombra">
                        <input name="descripcion_productos" type="text" class="form-control validate" ng-model="otrasActividadesVm.formOtrasActividades.descripcion_productos"
                            placeholder="Descripción de Productos" required/>
                    </div>

                    <div class="input-field col l12 s12 center ">
                        <button ng-disabled="aOtrasActividadesForm.$invalid" type="submit" class="waves-effect btn modal-close">Guardar</button>
                    </div>
                </form>
            </div>
        </div>

        <div class="modal-footer">
            <button class="modal-action modal-close waves-effect waves-red btn-flat">Cerrar</button>
        </div>
    </div>
</div>