body{
  overflow-x: hidden;
  background-color: #eceff1;
}

.nav-wrapper{ 
  color: #fff;
  background-color: #26a69a;  
}

header nav .nav-wrapper img {
    width: 100%;
  max-width: 46px;
  padding-top: 5%; 
}
header nav .nav-wrapper span {
  font-family: 'Segoe UI', "Roboto", sans-serif;
  display: inline-block;
  vertical-align: top;
  padding-top: 3px;
}

header nav .button-collapse {
  margin-right: 20px;
}

.sidenav-container {
  padding-left: 300px;
}

.tabs {
  overflow-x: hidden;
}

.tabs .tab a:hover, .tabs .tab a.active, .tabs .tab a {
    background-color: #ffffff;
    color: #616161;
}

.tabs .indicator {
    background-color: #26a69a;
    position: absolute;
    bottom: 0;
    height: 2px;
    will-change: left, right;
}

.side-nav {
  top: 112px;
  height: calc(100% + 112px);
}

.side-nav li>a, .side-nav .collapsible-header, .side-nav.fixed .collapsible-header {
  color: #616161;
  font-weight: 500;
  font-size: 15px;
  padding-left: 10%; 
}
.side-nav li>a {
  padding: 0 36px;
}

.side-nav li>a>i.material-icons {
  width: 7px;
  color: #616161;
}

.no-margin{
  margin: 0 !important;
}

@media only screen and (max-width: 992px) {
  .menuPContainer .colMargin {
    margin: 0 auto;
    float: initial !important;
  }

  .formContainer {
    float: initial !important;
    margin: 0 auto !important;
    width: 70% !important;
  }
  .formContainer .col.s7 {
    float: initial !important;
    width: 100%;
    margin-top: 2rem;
  }
  .sidenav-container {
    padding-left: 0;
  }
  .side-nav {
		top: 0px !important;
		padding-top: 20px;
	}
}

@media only screen and (max-width: 490px) {
  .formContainer {
    width: 90% !important;
  }
}


