<!DOCTYPE html>
<html lang="es">

<head>
    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection" />
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="css/index.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Iconic - Workplan | Politécnico JIC</title>

</head>

<body ng-app="iconic">

    <header id="header" ng-controller="indexCtrl as indexVm">
        <div class="navbar-fixed">
            <nav>
                <div class="nav-wrapper">
                    <ul class="left hide-on-large-only" ng-if="indexVm.loginFactory.userLogin && indexVm.loginFactory.user.estado == '1'" ng-class="{'hide' : indexVm.pageName == 'vistaPTD'}">
                        <li>
                            <a href="" class="button-collapse" data-activates="slide-out">
                                <i class="material-icons">Menù</i>
                            </a>
                        </li>
                    </ul>

                    <div class="brand-logo center">
                        <img src="img/rombo.png" style="height: 40px; top:2px;">
                        <span>iconic</span>
                    </div>

                    <ul class="right" ng-if="indexVm.loginFactory.userLogin && indexVm.loginFactory.user.estado == '1'">
                        <li>
                            <a href="" class="notification-button">
                                <i class="material-icons">&#xE7F4;
                                    <small class="notification-badge">5</small>
                                </i>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <i class="material-icons">&#xE853;</i>
                            </a>
                            <ul>
                                <div class="triangulito"></div>
                                <div class="row">
                                    <div class="col s12 m5">
                                        <div class="card-panel white">
                                            <li id="name">
                                                {{indexVm.loginFactory.user.nombre}} {{indexVm.loginFactory.user.apellido_1}} {{indexVm.loginFactory.user.apellido_2}}
                                            </li>
                                            <div class="indicator" style="right: 430px; left: 0px;"></div>
                                            <li id="perfil">{{indexVm.loginFactory.perfil.perfil}}</li>
                                            <li ng-if="indexVm.permiso.modificar == true">
                                                <a id="select" class="modal-action modal-close modal-trigger" data-target='modalfirma' modal>Subir firma digital</a>
                                            </li>
                                            <center>
                                                <button class="waves-effect waves-light btn" id="cerrar" ng-click="indexVm.logout()">Cerrar sesión</button>
                                            </center>
                                        </div>
                                    </div>
                                </div>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>
    <ui-view></ui-view>

    <div id="modalfirma" class="modal modal-fixed-footer" ng-controller="firmaCtrl as firmaVm">
        <div class="modal-content contenido-modal" ng-if="!firmaVm.siguiente">
            <h5>
                <strong>Subir Firma Digital</strong>
            </h5>
            <div class="row">
                <p>A continuación podrás subir la imágen de tu firma digital, ésta será la que utilices para firmar los apartados
                    del plan de trabajo, recuerda que primero debes cargar la firma y después subirla. </p>
            </div>
            <div class="row center">
                <img class="responsive-img imagenfirma" ng-src="{{firmaVm.firma}}">
            </div>
            <div class="row">
                <form name="" autocomplete="off">
                    <div class="col s10">
                        <div class="file-field input-field">
                            <div class="btn">
                                <span>Cargar</span>
                                <input type="file" ng-model="firmaVm.firma" ng-file-on-change="firmaVm.prefirmar">
                            </div>
                            <div class="file-path-wrapper">
                                <input class="file-path validate" type="text">
                            </div>
                        </div>
                    </div>
                    <div class="col s2 center">
                        <button ng-click="firmaVm.firmar()" class="btn-floating btn-large center">
                            <i class="material-icons">&#xE255;</i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <div class="modal-content" ng-if="firmaVm.siguiente">
            <h5>
                <strong>Contraseña para firmar digitalmente</strong>
            </h5>
            <div class="row">
                <p>Ahora que cargaste la firma digital deberás protegerla con una contraseña única para firmar, utilizarás esta
                    contraseña cada vez que vayas a firmar un plan de trabajo.</p>
                <p>Recuerda que la contraseña de inicio de sesión y la contraseña para firmar deben ser diferentes.</p>
            </div>
            <div class="row">
                <form name="passwordFirmaForm" autocomplete="off" ng-submit="firmaVm.passwordFirma()">
                    <div class="input-field col s12 cajasombra">
                        <i class="material-icons prefix ">&#xE0DA;</i>
                        <input type="password" name="contraseñafirma" minlength="8" maxlength="20" pattern="(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Mínimo 8 caracteres, mayúsculas, minúsculas, números y caracteres especiales"
                            ng-model="firmaVm.password" required>
                        <label class="cajasombra" for="contraseñafirma">Contraseña para firmar</label>
                    </div>
                    <div class="input-field col s12 cajasombra">
                        <i class="material-icons prefix ">&#xE0DA;</i>
                        <input type="password" name="repiteContraseñafirma" minlength="8" maxlength="20" pattern="(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Mínimo 8 caracteres, mayúsculas, minúsculas, números y caracteres especiales"
                            ng-model="firmaVm.repitepassword" required>
                        <label class="cajasombra" for="repiteContraseñafirma">Repite la Contraseña para firmar</label>
                    </div>
                    <div class="input-field col s12 center">
                        <button ng-disabled="passwordFirmaForm.$invalid" type="submit" class="waves-effect btn modal-close" ng-click="firmaVm.closeModal()">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="modal-footer">
            <button class="modal-action modal-close waves-effect waves-red btn-flat">Cancelar</button>
        </div>
    </div>

    <div id="modalObservaciones" class="modal" style="overflow-y: hidden;" ng-controller="concertacionCtrl as concertacionVm"
        ng-open="concertacionVm.room()">
        <div id="header-chat">
            <i class="closeIcon material-icons modal-action modal-close ">&#xE5CD;</i>
            <h5>Observaciones al Plan de Trabajo Docente</h5>
        </div>
        <!-- <div ng-show="observacionesDecanoForm.$pristine" class="alert alert-info contenidoObservaciones container contenido-alert">
            <a class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
            <strong>¡Importante!</strong> Recuerda que cada comentario que envíes no podrá ser borrado, utiliza esta herramienta,
            únicamente para la concertación del Plan de trabajo.
        </div> -->
        <div id="chat">
            <div id="mensajes">
            </div>
        </div>
        <div id="caja-mensaje">
            <form name="observacionesDecanoForm" class="col s12">
                <div class="row mensaje">
                    <div class="input-field col s10">
                        <i class="material-icons prefix">&#xE8AF;</i>
                        <input id="observacion" type="text" ng-model="concertacionVm.mensaje" />
                        <label for="observacion">*Observación</label>
                    </div>

                    <div class="col s2 btnSend">
                        <div class="form-group">
                            <div class="subir_observaciones">
                                <button ng-click="concertacionVm.enviar()" class="btn-floating btn-large waves-effect waves-lightbtn">
                                    <i class="material-icons">&#xE163;</i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!--Import jQuery before materialize.js-->
    <script src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="js/minified/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="js/minified/materialize.min.js"></script>
    <script type="text/javascript" src="js/minified/angular.min.js"></script>
    <script type="text/javascript" src="js/minified/angular-materialize.js"></script>
    <script type="text/javascript" src="js/minified/angular-ui-router.min.js"></script>
    <script type="text/javascript" src="js/minified/angular-local-storage.min.js"></script>
    <script type="text/javascript" src="js/minified/angular-sanitize.min.js"></script>
    <script type="text/javascript" src="js/minified/select.min.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
    <script type="text/javascript" src="js/route.js"></script>
    <script type="text/javascript" src="js/todoScript.js"></script>
    <script type="text/javascript" src="js/constants/appConstants.js"></script>
    <script type="text/javascript" src="js/services/loginService.js"></script>
    <script type="text/javascript" src="js/services/notificationService.js"></script>
    <script type="text/javascript" src="js/services/fechaEtapaService.js"></script>
    <script type="text/javascript" src="js/services/DDService.js"></script>
    <script type="text/javascript" src="js/services/ISService.js"></script>
    <script type="text/javascript" src="js/services/IPService.js"></script>
    <script type="text/javascript" src="js/services/AEService.js"></script>
    <script type="text/javascript" src="js/services/CEService.js"></script>
    <script type="text/javascript" src="js/services/FPService.js"></script>
    <script type="text/javascript" src="js/services/APService.js"></script>
    <script type="text/javascript" src="js/services/OAService.js"></script>
    <script type="text/javascript" src="js/services/RGService.js"></script>
    <script type="text/javascript" src="js/services/ObservacionesService.js"></script>
    <script type="text/javascript" src="js/services/ptdService.js"></script>
    <script type="text/javascript" src="js/services/planesService.js"></script>
    <script type="text/javascript" src="js/services/usuariosService.js"></script>
    <script type="text/javascript" src="js/directives/inputDirectives.js"></script>
    <script type="text/javascript" src="js/factories/loginFactory.js"></script>
    <script type="text/javascript" src="js/factories/ptdFactory.js"></script>
    <script type="text/javascript" src="js/factories/planesFactory.js"></script>
    <script type="text/javascript" src="js/factories/fechaEtapaFactory.js"></script>
    <script type="text/javascript" src="js/factories/DDFactory.js"></script>
    <script type="text/javascript" src="js/factories/ISFactory.js"></script>
    <script type="text/javascript" src="js/factories/IPFactory.js"></script>
    <script type="text/javascript" src="js/factories/AEFactory.js"></script>
    <script type="text/javascript" src="js/factories/CEFactory.js"></script>
    <script type="text/javascript" src="js/factories/FPFactory.js"></script>
    <script type="text/javascript" src="js/factories/APFactory.js"></script>
    <script type="text/javascript" src="js/factories/OAFactory.js"></script>
    <script type="text/javascript" src="js/factories/RGFactory.js"></script>
    <script type="text/javascript" src="js/factories/ObservacionesFactory.js"></script>
    <script type="text/javascript" src="js/factories/usuariosFactory.js"></script>
    <script type="text/javascript" src="js/controllers/loginController.js"></script>
    <script type="text/javascript" src="js/controllers/menuPrincipalController.js"></script>
    <script type="text/javascript" src="js/controllers/fechaEtapaController.js"></script>
    <script type="text/javascript" src="js/controllers/indexController.js"></script>
    <script type="text/javascript" src="js/controllers/concertacionController.js"></script>
    <script type="text/javascript" src="js/controllers/verificacionController.js"></script>
    <script type="text/javascript" src="js/controllers/configiniController.js"></script>
    <script type="text/javascript" src="js/controllers/restablecerController.js"></script>
    <script type="text/javascript" src="js/controllers/firmaController.js"></script>
    <script type="text/javascript" src="js/controllers/aInfoGeneralController.js"></script>
    <script type="text/javascript" src="js/controllers/aInvestigacionesControllerS.js"></script>
    <script type="text/javascript" src="js/controllers/aInvestigacionesControllerP.js"></script>
    <script type="text/javascript" src="js/controllers/aDocenciaDirectaController.js"></script>
    <script type="text/javascript" src="js/controllers/aExtensionController.js"></script>
    <script type="text/javascript" src="js/controllers/aComisionEstudiosController.js"></script>
    <script type="text/javascript" src="js/controllers/aProyectosController.js"></script>
    <script type="text/javascript" src="js/controllers/aAsesoriasController.js"></script>
    <script type="text/javascript" src="js/controllers/aOtrasActividadesController.js"></script>
    <script type="text/javascript" src="js/controllers/aObservacionesController.js"></script>
    <script type="text/javascript" src="js/controllers/usuariosController.js"></script>
</body>

</html>